# Learning objectives
- Orient on the Oregon dataset
- Recode variables using .replace
- Define ordered categorical variables
- Rename variables

In [1]:
import numpy as np
import pandas as pd

In [3]:
OHIE = pd.read_csv('../Data/OHIE_12m.csv')
OHIE.head()

,person_id,household_id,treatment,draw_treat,draw_lottery,applied_app,approved_app,dt_notify_lottery,dt_retro_coverage,birthyear_list,...,live_partner_12m,live_parents_12m,live_friends_12m,live_relatives_12m,live_other_12m,hhsize_12m,PHQ2_1,PHQ2_2,PHQ2_sum,PHQ2_cutoff
0,64350,164350,Not selected,NaN,Lottery Draw 6,NaN,NaN,2008-07-14,2008-08-08,1974,...,No,Yes,No,No,No,2.0,3.0,3.0,6.0,True
1,55655,155655,Not selected,NaN,Lottery Draw 7,NaN,NaN,2008-08-12,2008-09-08,1987,...,Yes,No,No,No,No,2.0,1.0,1.0,2.0,False
2,20087,128134,Selected,Draw 6: selected in lottery 07/01/2008,Lottery Draw 6,Submitted an Application to OHP,No,2008-07-14,2008-08-08,1963,...,No,No,No,Yes,No,7.0,0.0,1.0,1.0,False
3,70998,170998,Not selected,NaN,Lottery Draw 7,NaN,NaN,2008-08-12,2008-09-08,1954,...,Yes,No,No,No,No,2.0,3.0,2.0,5.0,True
4,8839,108839,Selected,Draw 8: selected in lottery 09/02/2008,Lottery Draw 8,Did NOT submit an application to OHP,No,2008-09-11,2008-10-08,1964,...,No,No,Yes,No,No,4.0,2.0,2.0,4.0,True

### Orient on the dataset

In [7]:
# Orient on the dataset
OHIE.shape

(4000, 44)

In [10]:
OHIE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 44 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person_id            4000 non-null   int64
 1   household_id         4000 non-null   int64
 2   treatment            4000 non-null   object
 3   draw_treat           2011 non-null   object
 4   draw_lottery         4000 non-null   object
 5   applied_app          2010 non-null   object
 6   approved_app         2010 non-null   object
 7   dt_notify_lottery    4000 non-null   object
 8   dt_retro_coverage    4000 non-null   object
 9   birthyear_list       4000 non-null   int64
 10  female_list          4000 non-null   object
 11  ins_any_12m          3939 non-null   object
 12  weight_12m           4000 non-null   float64
 13  employ_12m           3868 non-null   object
 14  edu_12m              3853 non-null   object
 15  dep_sad_12m          3936 non-null   object
 16  dep_interest_12m     3927 non-null   object
 17  dep_rx_12m           3595 non-null   object
 18  smk_curr_12m         3884 non-null   object
 19  smk_ever_12m         3929 non-null   object
 20  race_white_12m       4000 non-null   object
 21  race_black_12m       4000 non-null   object
 22  race_hisp_12m        3957 non-null   object
 23  race_asian_12m       4000 non-null   object
 24  race_amerindian_12m  4000 non-null   object
 25  race_pacific_12m     4000 non-null   object
 26  race_other_qn_12m    4000 non-null   object
 27  chl_chk_12m          3936 non-null   object
 28  dia_chk_12m          3935 non-null   object
 29  mam_chk_12m          2391 non-null   object
 30  pap_chk_12m          2391 non-null   object
 31  hhinc_cat_12m        3790 non-null   object
 32  hhinc_pctfpl_12m     3598 non-null   float64
 33  live_alone_12m       3999 non-null   object
 34  live_partner_12m     3999 non-null   object
 35  live_parents_12m     4000 non-null   object
 36  live_friends_12m     4000 non-null   object
 37  live_relatives_12m   4000 non-null   object
 38  live_other_12m       4000 non-null   object
 39  hhsize_12m           3780 non-null   float64
 40  PHQ2_1               3936 non-null   float64
 41  PHQ2_2               3927 non-null   float64
 42  PHQ2_sum             3895 non-null   float64
 43  PHQ2_cutoff          3895 non-null   object
dtypes: float64(6), int64(3), object(35)
memory usage: 1.3+ MB

### Recode variables using .replace

In [11]:
# Recoding variables using .replace
# Treatment: not selected = 0 and selected = 1
OHIE['treatment'].head()

0    Not selected
1    Not selected
2        Selected
3    Not selected
4        Selected
Name: treatment, dtype: object

In [13]:
OHIE['treatment'] = OHIE['treatment'].replace({'Not selected':0, 'Selected':1}).astype(int)
OHIE['treatment'].head()

0    0
1    0
2    1
3    0
4    1
Name: treatment, dtype: int64

## Ordered categorical variables

In [36]:
OHIE['edu_12m'].head()

0        4-year degree
1    hs diploma or GED
2    hs diploma or GED
3    hs diploma or GED
4    hs diploma or GED
Name: edu_12m, dtype: object

In [37]:
OHIE['edu_12m'].value_counts()

edu_12m
hs diploma or GED              1884
vocational or 2-year degree     855
less than hs                    665
4-year degree                   449
Name: count, dtype: int64

In [58]:
edu_order = ['less than hs', 'hs diploma or GED', 'vocational or 2-year degree', '4-year degree']

In [59]:
OHIE['EducationLevel'] = pd.Categorical(
    OHIE['edu_12m'],
    categories=edu_order,
    ordered=True
)
OHIE['EducationLevel'].dtype

CategoricalDtype(categories=['less than hs', 'hs diploma or GED',
                  'vocational or 2-year degree', '4-year degree'],
, ordered=True, categories_dtype=object)

In [60]:
OHIE['edu_num'] = OHIE['EducationLevel'].cat.codes
OHIE[['edu_12m','EducationLevel','edu_num']].head(10)

             edu_12m     EducationLevel  edu_num
0      4-year degree      4-year degree        3
1  hs diploma or GED  hs diploma or GED        1
2  hs diploma or GED  hs diploma or GED        1
3  hs diploma or GED  hs diploma or GED        1
4  hs diploma or GED  hs diploma or GED        1
5  hs diploma or GED  hs diploma or GED        1
6  hs diploma or GED  hs diploma or GED        1
7      4-year degree      4-year degree        3
8       less than hs       less than hs        0
9  hs diploma or GED  hs diploma or GED        1

### Renaming columns

In [32]:
OHIE.columns

Index(['person_id', 'household_id', 'treatment', 'draw_treat', 'draw_lottery',
       'applied_app', 'approved_app', 'dt_notify_lottery', 'dt_retro_coverage',
       'birthyear_list', 'female_list', 'ins_any_12m', 'weight_12m',
       'employ_12m', 'edu_12m', 'dep_sad_12m', 'dep_interest_12m',
       'dep_rx_12m', 'smk_curr_12m', 'smk_ever_12m', 'race_white_12m',
       'race_black_12m', 'race_hisp_12m', 'race_asian_12m',
       'race_amerindian_12m', 'race_pacific_12m', 'race_other_qn_12m',
       'chl_chk_12m', 'dia_chk_12m', 'mam_chk_12m', 'pap_chk_12m',
       'hhinc_cat_12m', 'hhinc_pctfpl_12m', 'live_alone_12m',
       'live_partner_12m', 'live_parents_12m', 'live_friends_12m',
       'live_relatives_12m', 'live_other_12m', 'hhsize_12m', 'PHQ2_1',
       'PHQ2_2', 'PHQ2_sum', 'PHQ2_cutoff'],
      dtype='object')

In [33]:
OHIE = OHIE.rename(columns={
    'female_list': 'sex'
})
OHIE.columns

Index(['person_id', 'household_id', 'treatment', 'draw_treat', 'draw_lottery',
       'applied_app', 'approved_app', 'dt_notify_lottery', 'dt_retro_coverage',
       'birthyear_list', 'sex', 'ins_any_12m', 'weight_12m', 'employ_12m',
       'edu_12m', 'dep_sad_12m', 'dep_interest_12m', 'dep_rx_12m',
       'smk_curr_12m', 'smk_ever_12m', 'race_white_12m', 'race_black_12m',
       'race_hisp_12m', 'race_asian_12m', 'race_amerindian_12m',
       'race_pacific_12m', 'race_other_qn_12m', 'chl_chk_12m', 'dia_chk_12m',
       'mam_chk_12m', 'pap_chk_12m', 'hhinc_cat_12m', 'hhinc_pctfpl_12m',
       'live_alone_12m', 'live_partner_12m', 'live_parents_12m',
       'live_friends_12m', 'live_relatives_12m', 'live_other_12m',
       'hhsize_12m', 'PHQ2_1', 'PHQ2_2', 'PHQ2_sum', 'PHQ2_cutoff'],
      dtype='object')