In [47]:
import numpy as np
import pandas as pd

In [48]:
filename = '../Data/frmgham2.csv'
frame = pd.read_csv(filename)
frame.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766

In [49]:
# Introduce missing values in ~5% of rows for selected columns
for col in ['AGE', 'TOTCHOL', 'CIGPDAY']:
    frame.loc[frame.sample(frac=0.05).index, col] = np.nan

# Mess up data types
frame['AGE'] = frame['AGE'].astype(str)  # Age as string
frame['SEX'] = frame['SEX'].astype(float)+0.0001 # Sex as float

# Inconsistent categorical labels
frame.loc[frame.sample(frac=0.02).index, 'educ'] = 'unknown'

/var/folders/1_/lcw4zvln3rd_5hb93nn0kqw00000gn/T/ipykernel_9380/2683918745.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  frame.loc[frame.sample(frac=0.02).index, 'educ'] = 'unknown'

In [50]:
frame['SEX'].value_counts()

SEX
2.0001    6605
1.0001    5022
Name: count, dtype: int64

In [51]:
frame.shape

(11627, 39)

In [52]:
# Add duplicates
frame = pd.concat([frame,frame.sample(frac=0.05)])
# Shuffle rows
frame = frame.sample(frac=1)

In [53]:
frame.shape

(12208, 39)

In [54]:
# Remove some columns
frame = frame.drop(columns = ['HYPERTEN','TIMESTRK'])

In [55]:
frame.shape

(12208, 37)

In [56]:
# Save to file if desired
frame.to_csv("../Data/trainingham.csv", index=False)