# Learning Objectives
By the end of this short lecture, you will:
- Understand what variables are in Python and how to assign them
- Learn about common data types, including collections of data
- Practice checking and converting data types
- Learn about looping over collections

# 1. What Is a Variable in Python?
A variable is a name that stores a value. You use it to hold data like case counts, age, region, or date.

In [1]:
cases_today = 14
region = "North"
test_positive = True

Each of these variables has a *type*.

# 2. Basic data types
- int: integer (whole number). Examples: 14, 0, -3
- float: decimal number. Examples: 3.14, 0.0, -10.5
- str: string. Examples: "North", "Covid-19"
- bool: boolean (true/false). Examples: True, False

In [2]:
age = 35               # int
temperature = 98.6     # float
disease = "Influenza"  # str
hospitalized = False   # bool

# 3. Checking a variable's type
Use ```type()``` to check the type. ```print()``` displays a result to the cell's output below.

In [3]:
print(type(age))           # <class 'int'>
print('The type of variable disease is %s'%(type(disease)))       # <class 'str'>

<class 'int'>
The type of variable disease is <class 'str'>

# 4. Type conversion
Sometimes you need to convert a value from one type to another. For example, reading data from a CSV file may give you strings when you expect numbers.

In [4]:
age = "45"
print(type(age))
age = int(age)
print(type(age)) # Now it's an integer

<class 'str'>
<class 'int'>

The type of a variable has implications for what you can do with it:

In [5]:
temperature = "101.2"
print(temperature + 5)

TypeError: can only concatenate str (not "int") to str

In [6]:
temperature = float(temperature)
print(temperature + 5)

106.2

Tip: many errors have to do with the variable type of some data not matching the type expected by a function.

# 5. Collections of data
You'll often work with groups of data. In the next lecture we'll look at nicely formatted tables called 'dataframes'. But for now let's inspect lists and dictionaries.

In Python, you can join almost anything in a *lis*, which is defined by square brackets (spaces don't matter):

In [7]:
list_of_integers = [3, 5,7, 9,    11]
print(list_of_integers)

[3, 5, 7, 9, 11]

In [8]:
list_with_different_types = [3, 1.1, 'hi there']
print(list_with_different_types)

[3, 1.1, 'hi there']

To access the content of a list, you *index* it with an integer. In Python, we start counting at zero.

In [9]:
print(list_with_different_types[0])
print(list_with_different_types[2])

3
hi there

In [10]:
# The list variable itself is of a different type than its contents!
print(type(list_with_different_types))
print(type(list_with_different_types[2]))

<class 'list'>
<class 'str'>

You can replace items in a list as needed:

In [11]:
list_with_different_types[1] = 2.2
print(list_with_different_types)

[3, 2.2, 'hi there']

To create a collection you CAN'T change, you can use a tuple, which is defined by round brackets:

In [13]:
my_tuple = ('welcome',15,-3.1415)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('welcome', 15, -3.1415)

A final way to collect data is in a *dictionary*. This is like a list, except each entry has a name and a value. Dictionaries are defined by curly brackets:

In [24]:
dictionary_millions = {'USA':340,
                       'UK':68,
                       'NL':18,
                       'CA':40}

Access dictionary values by name:

In [25]:
print(dictionary_millions['NL'])

18

# 6. Advanced printing
You can combine variable values in nicely formatted strings. Make sure to use the right variable format (string, integer, float, etc.).

In [26]:
name = 'Jeroen'
age = 35
print('Hi, my name is %s.'%name)

Hi, my name is Jeroen.

In [27]:
# To add multiple values in one string, collect them in a tuple:
my_output_string = 'Hi, my name is %s and my age is %i'%(name, age)
print(my_output_string)

Hi, my name is Jeroen and my age is 35

# 7. Loops
Once you have a collection of data in a list or dictionary, you can apply an operation to the elements one at a time in what's called a *for loop*. This is an essential tool in your programming toolkit.

In [28]:
for element in list_of_integers:
    print(element * 2 - 1)

5
9
13
17
21

(Those of you familiar with for loops in R will agree that this looks very clean in Python.)

In dictionaries, you can loop over the names of the entries, and use those to get the entry values.

In [29]:
for name in dictionary_millions:
    print('Country %s has a population of %i million.'%(name,dictionary_millions[name]))

Country USA has a population of 340 million.
Country UK has a population of 68 million.
Country NL has a population of 18 million.
Country CA has a population of 40 million.

# 8. Logical operators and if statements
Another essential programming tool is the set of *logical operations* (also known as logical functions or boolean operators). These operators compare two values to each other. The result is a boolean variable (True or False).

In [38]:
print(3 > 2)
my_string = 'my name is %s'%name
print(my_string)
long_length_or_not = len(my_string) > 5
print('Is my string longer than 5 characters?',long_length_or_not)

True
my name is CA
Is my string longer than 5 characters? True

You can use logical operators to selectively apply other operations to paticular cases, using an *if statement*. For instance:

In [36]:
# print the country names of countries with more than 30 million population.
for name in dictionary_millions:
    if dictionary_millions[name] > 30:
        print(name)
    else:
        print('Skipped one!')

USA
UK
Skipped one!
CA

You can combine boolean operators using & (and) and | (or). When combining, remember to put each component in round brackets.

In [40]:
temp_today = 95
temp_yesterday = 93
# If temperature is above 90 two days in a row, we speak of a heat wave
heat_wave = (temp_today > 90) & (temp_yesterday > 90)
print(heat_wave)

True